In [1]:
import pandas as pd
import numpy as np 
import scipy.stats as st

veri1 = [4]*2+[6]*3+[8]*50+[10]*130+[12]*220+[14]*402+[16]*508+[18]*440+[20]*180+[22]*90+[24]*70+[26]*4+[28]

unique, counts = np.unique(veri1, return_counts = True)
X = np.asarray((unique))
G = np.asarray((counts)) 

tablo1 = pd.DataFrame({"Xj":X, "fj":G})
tablo1["Xjfj"] = X * G
n = G.sum()
xf = np.sum(X*G)
m = xf/n # ortalama 15.92
 
tablo1["Xj-X"] = X - np.round(m,2)
tablo1["(Xj-X)^2"] = np.round(np.square(X - m),4)
tablo1["(Xj-X)^2fj"] = np.round(np.square(X - m),4)*G
gt = tablo1["(Xj-X)^2fj"].sum()
v = (1 / (n - 1))* gt #varyans 12.62
tablo1

    Xj   fj  Xjfj   Xj-X  (Xj-X)^2  (Xj-X)^2fj
0    4    2     8 -11.92  142.1091    284.2182
1    6    3    18  -9.92   98.4253    295.2759
2    8   50   400  -7.92   62.7415   3137.0750
3   10  130  1300  -5.92   35.0577   4557.5010
4   12  220  2640  -3.92   15.3739   3382.2580
5   14  402  5628  -1.92    3.6901   1483.4202
6   16  508  8128   0.08    0.0062      3.1496
7   18  440  7920   2.08    4.3224   1901.8560
8   20  180  3600   4.08   16.6386   2994.9480
9   22   90  1980   6.08   36.9548   3325.9320
10  24   70  1680   8.08   65.2710   4568.9700
11  26    4   104  10.08  101.5872    406.3488
12  28    1    28  12.08  145.9034    145.9034

### Standartlaştırma

In [2]:
tablo2 = pd.DataFrame({"Gj" : G})
alt = np.arange(3,28,2)
ust = np.arange(5,30,2)
za,zu,p,b = [],[],[],[]

#alt ve üst değerlerin standartlaştırılması
for i in range(len(tablo2.index)):
    za.append((alt[i] - m) / v**(1/2))
    zu.append((ust[i] - m) / v**(1/2))
za = np.round(za,2)
zu = np.round(zu,2)

tablo2["Zaj"] = za
tablo2["Zuj"] = zu

for i in range(len(tablo2.index)):
    p.append(np.round(st.norm.cdf(zu[i]) - st.norm.cdf(za[i]), 4)) 
    
#Pj ve beklenen değerlerin bulunması

p[0] = np.round(1 - st.norm.cdf(3.08),4)
p[-1] = np.round(st.norm.cdf(3.12) - 1,4) # olasılıklar toplamı 1 olacak

for i in range(len(tablo2.index)):
    b.append(p[i] * n) # beklenen frekanslar
B = np.abs(b)
p = np.abs(p)
tablo2["Pj"], tablo2["Bj"] = p, B
tablo2

     Gj   Zaj   Zuj      Pj      Bj
0     2 -3.64 -3.07  0.0010    2.10
1     3 -3.07 -2.51  0.0050   10.50
2    50 -2.51 -1.95  0.0196   41.16
3   130 -1.95 -1.39  0.0567  119.07
4   220 -1.39 -0.82  0.1238  259.98
5   402 -0.82 -0.26  0.1913  401.73
6   508 -0.26  0.30  0.2205  463.05
7   440  0.30  0.87  0.1899  398.79
8   180  0.87  1.43  0.1158  243.18
9    90  1.43  1.99  0.0531  111.51
10   70  1.99  2.56  0.0181   38.01
11    4  2.56  3.12  0.0043    9.03
12    1  3.12  3.68  0.0009    1.89

### Test İstatistiğinin Hesaplanması

In [3]:
tablo3 = pd.DataFrame({"Gj" : G, "Bj":B})
ist = []
for i in range(len(tablo3.index)):
    ist.append(((G[i] - B[i])**2) / B[i])
tablo3["(Gj-Bj)^2/Bj"] = np.round(ist, 3)
tablo3

     Gj      Bj  (Gj-Bj)^2/Bj
0     2    2.10         0.005
1     3   10.50         5.357
2    50   41.16         1.899
3   130  119.07         1.003
4   220  259.98         6.148
5   402  401.73         0.000
6   508  463.05         4.363
7   440  398.79         4.259
8   180  243.18        16.415
9    90  111.51         4.149
10   70   38.01        26.923
11    4    9.03         2.802
12    1    1.89         0.419

### Test İstatistiği

In [4]:
xh = tablo3["(Gj-Bj)^2/Bj"].sum()
xh

73.742

### Kritik değer

In [5]:
a = 0.05
xt = st.chi2.ppf(1-(a), 10)
xt

18.307038053275146

In [6]:
if xh > xt:
    print("Ho hipotezi reddedilir")
else:
    print("Ho hipotezi reddedilemez")

Ho hipotezi reddedilir

### P değeri ile hesaplama

In [7]:
xh2 , p = st.chisquare(G,B)
print("test istatistiği = ",xh2,"\np değeri = ",p)

test istatistiği =  73.7424401887556
p değeri =  6.34722398862797e-11

In [8]:
if p < 0.025:
    print("Ho hipotezi reddedilir")
else:
    print("Ho hipotezi reddedilemez")

Ho hipotezi reddedilir